---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&limit=2&sort=published_desc&sources=abc-news,cnn,guardian,nytimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.048'
      - '0.074'
      X-Apilayer-Transaction-Id:
      - c26a88c3-0e93-44d0-afb0-0f21ecd4d7d4
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '231'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":2,"offset":0,"count":2,"total":60},"data":[{"author":null,"title":"Twitter
        adopts \u0027poison pill\u0027 measure that could thwart Elon Musk\u0027s
        takeover bid","description":"Twitter\u0027s board of directors has adopted
        a limited-term shareholder rights plan called a \u0022poison pill\u0022 that
        could make it harder for Elon Musk to acquire the company.","url":"https:\/\/www.cnn.com\/2022\/04\/15\/tech\/twitter-elon-musk-poison-pill\/index.html","source":"CNN","image":"https:\/\/cdn.cnn.com\/cnnnext\/dam\/assets\/220415072137-04-elon-musk-ted-0414-super-169.jpg","category":"general","language":"en","country":"us","published_at":"2022-04-15T20:31:15+00:00"},{"author":"Amanda
        Holpuch","title":"What Is a \u2018Poison Pill\u2019 Defense?","description":"Twitter
        has unveiled its plan to fight Elon Musk\u2019s bid for the company. It\u2019s
        a well-worn tactic to fend off corporate raiders and hostile takeovers.","url":"https:\/\/www.nytimes.com\/2022\/04\/15\/business\/twitter-poison-pill-explainer.html","source":"nytimes","image":"https:\/\/static01.nyt.com\/images\/2022\/04\/15\/business\/15xp-poisonpill1\/15xp-poisonpill1-moth.jpg","category":"general","language":"en","country":"us","published_at":"2022-04-15T20:16:16+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:25:06 GMT
- request:
    method: post
    uri: https://tldrthis.p.rapidapi.com/v1/model/extractive/summarize-url/
    body:
      encoding: UTF-8
      string: |-
        {
                          "url": "https://www.cnn.com/2022/04/15/tech/twitter-elon-musk-poison-pill/index.html",
                          "num_sentences": 5,
                          "is_detailed": false
                          }
    headers:
      X-Rapidapi-Host:
      - tldrthis.p.rapidapi.com
      X-Rapidapi-Key:
      - "<tldr_key>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Proxy-Response:
      - 'true'
      X-Rapidapi-Region:
      - AWS - us-east-1
      X-Rapidapi-Version:
      - 1.2.8
    body:
      encoding: UTF-8
      string: '{"message":"You have exceeded the rate limit per minute for your plan,
        BASIC, by the API provider"}'
  recorded_at: Sun, 17 Apr 2022 17:25:06 GMT
[...]
- request:
    method: post
    uri: https://tldrthis.p.rapidapi.com/v1/model/extractive/summarize-url/
    body:
      encoding: UTF-8
      string: |-
        {
                          "url": "https://www.nytimes.com/2022/04/15/business/twitter-poison-pill-explainer.html",
                          "num_sentences": 5,
                          "is_detailed": false
                          }
    headers:
      X-Rapidapi-Host:
      - tldrthis.p.rapidapi.com
      X-Rapidapi-Key:
      - "<tldr_key>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Proxy-Response:
      - 'true'
      X-Rapidapi-Region:
      - AWS - us-east-1
      X-Rapidapi-Version:
      - 1.2.8
    body:
      encoding: UTF-8
      string: '{"message":"You have exceeded the rate limit per minute for your plan,
        BASIC, by the API provider"}'
  recorded_at: Sun, 17 Apr 2022 17:25:07 GMT
recorded_with: VCR 6.1.0
