---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=dkdignglsldigngalsldi&languages=en&limit=1&sort=published_desc&sources=abc-news,cnn,guardian,nytimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.045'
      - '0.071'
      X-Apilayer-Transaction-Id:
      - 4bf3bdb6-f219-4698-b41b-debf7b1accb9
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '146'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":0,"total":0},"data":[]}'
  recorded_at: Fri, 22 Apr 2022 01:56:04 GMT
recorded_with: VCR 6.1.0
