---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=&languages=en&limit=1&sort=published_desc&sources=abc-news,cnn,guardian,nytimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.056'
      - '0.084'
      X-Apilayer-Transaction-Id:
      - aad5df5d-9390-4bc3-8549-47a08c98e899
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '372'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":10000},"data":[{"author":"Brian
        X. Chen","title":"Three Ways to Cut Your Tech Spending, as Prices Rise Everywhere","description":"Here\u2019s
        how to be mindful about the tech subscriptions, phone bills and upgrades that
        drain our budgets.","url":"https:\/\/www.nytimes.com\/2022\/04\/20\/technology\/personaltech\/phone-bills-online-subscription-cuts.html","source":"The
        New York Times","image":"https:\/\/static01.nyt.com\/images\/2022\/04\/21\/business\/21techfix-illo\/21techfix-illo-moth.jpg","category":"technology","language":"en","country":"us","published_at":"2022-04-20T18:52:35+00:00"}]}'
  recorded_at: Wed, 20 Apr 2022 19:25:54 GMT
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=&languages=en&limit=1&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.053'
      - '0.078'
      X-Apilayer-Transaction-Id:
      [...]
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=&languages=en&limit=1&sort=published_desc&sources=foxnews,breitbart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.070'
      - '0.095'
      X-Apilayer-Transaction-Id:
      - 140d7b4b-7cd8-4a30-99de-e6e9590d65eb[...]
- request:
    method: post
    uri: https://tldrthis.p.rapidapi.com/v1/model/abstractive/summarize-url/
    body:
      encoding: UTF-8
      string: |-
        {
                                  "url": "https://www.nytimes.com/2022/04/20/technology/personaltech/phone-bills-online-subscription-cuts.html",
                                  "min_length": 100,
                                  "max_length": 300,
                                  "is_detailed": false
                                  }
    headers:
      X-Rapidapi-Host:
      - tldrthis.p.rapidapi.com
      X-Rapidapi-Key:
      - "<tldr_key>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Proxy-Response:
      - 'true'
      X-Rapidapi-Region:
      - AWS - us-east-1
      X-Rapidapi-Version:
      - 1.2.8
    body:
      encoding: UTF-8
      string: '{"message":"You have exceeded the rate limit per minute for your plan,
        BASIC, by the API provider"}'
  recorded_at: Wed, 20 Apr 2022 19:25:54 GMT
[...]
- request:
    method: post
    uri: https://tldrthis.p.rapidapi.com/v1/model/abstractive/summarize-url/
    body:
      encoding: UTF-8
      string: |-
        {
                                  "url": "https://www.foxnews.com/us/nyc-diamond-brooklyn-gambling-boss-sentenced-4-years",
                                  "min_length": 100,
                                  "max_length": 300,
                                  "is_detailed": false
                                  }
    headers:
      X-Rapidapi-Host:
      - tldrthis.p.rapidapi.com
      X-Rapidapi-Key:
      - "<tldr_key>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Proxy-Response:
      - 'true'
      X-Rapidapi-Region:
      - AWS - us-east-1
      X-Rapidapi-Version:
      - 1.2.8
    body:
      encoding: UTF-8
      string: '{"message":"You have exceeded the rate limit per minute for your plan,
        BASIC, by the API provider"}'
  recorded_at: Wed, 20 Apr 2022 19:25:55 GMT
recorded_with: VCR 6.1.0
