---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.065'
      - '0.099'
      X-Apilayer-Transaction-Id:
      - a3783548-0b55-4f41-8b8a-41d17c4c562a
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '321'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":25,"offset":0,"count":25,"total":163},"data":[{"author":"Sarah
        Frier","title":"Twitter Adopts \u2018Poison Pill\u2019 to Ward Off Musk Takeover","description":"Twitter
        Adopts \u2018Poison Pill\u2019 to Ward Off Musk Takeover","url":"https:\/\/www.bloombergquint.com\/business\/twitter-adopts-poison-pill-to-ward-off-musk-takeover","source":"Bloomberg
        | Latest And Live Business","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-16T05:26:20+00:00"},{"author":"Sergei
        Klebnikov, Forbes Staff","title":"Twitter Board Adopts Poison Pill To Fend
        Off Elon Musk\u2019s Takeover Bid","description":"The move comes a day after
        Musk\u2019s unsolicited $43 billion offer to buy the company.","url":"https:\/\/www.forbes.com\/sites\/sergeiklebnikov\/2022\/04\/15\/twitter-board-adopts-poison-pill-to-fend-off-elon-musks-takeover-bid\/","source":"Forbes","image":"https:\/\/thumbor.forbes.com\/thumbor\/fit-i[...]
