---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&limit=1&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.052'
      - '0.079'
      X-Apilayer-Transaction-Id:
      - ed3e1b56-b004-412a-9f04-4e460749c402
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '213'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":166},"data":[{"author":"Shiyin
        Chen","title":"Twitter Board\u2019s Interest Not Aligned With Holders, Musk
        Says","description":"Twitter Board\u2019s Interest Not Aligned With Holders,
        Musk Says","url":"https:\/\/www.bloombergquint.com\/business\/twitter-board-s-economic-interest-not-aligned-with-holders-musk","source":"Bloomberg
        | Latest And Live Business","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-17T05:29:05+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:46:28 GMT
recorded_with: VCR 6.1.0
