---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&limit=2&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.057'
      - '0.086'
      X-Apilayer-Transaction-Id:
      - '09f44eb0-c4d3-4189-84e8-5323356ea5b1'
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '229'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":2,"offset":0,"count":2,"total":166},"data":[{"author":"Shiyin
        Chen","title":"Twitter Board\u2019s Interest Not Aligned With Holders, Musk
        Says","description":"Twitter Board\u2019s Interest Not Aligned With Holders,
        Musk Says","url":"https:\/\/www.bloombergquint.com\/business\/twitter-board-s-economic-interest-not-aligned-with-holders-musk","source":"Bloomberg
        | Latest And Live Business","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-17T05:29:05+00:00"},{"author":"Chris
        Dolmetsch","title":"Judge Rules Musk Go-Private Tweet False, Tesla Investors
        Say","description":"Judge Rules Musk Go-Private Tweet False, Tesla Investors
        Say","url":"https:\/\/www.bloombergquint.com\/business\/musk-go-private-tweet-ruled-false-by-judge-tesla-investors-say","source":"Bloomberg
        | Latest And Live Business","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-17T05:17:21+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:28:31 GMT
recorded_with: VCR 6.1.0
