---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&limit=1&sort=published_desc&sources=foxnews,breitbart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.070'
      - '0.100'
      X-Apilayer-Transaction-Id:
      - 86cde401-5bcd-4ed7-8ade-2dbdb281f062
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '212'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":2},"data":[{"author":"Gary
        Gastelu","title":"Tesla raising \u0026apos;Full Self-Driving\u0026apos; price
        to $12,000","description":"Tesla is increasing the price of its Full Self-Driving
        feature to $12,000 on January 17, Elon Musk has announced. The system remains
        in development in beta.","url":"https:\/\/www.foxnews.com\/auto\/tesla-raising-full-self-driving-price-12000","source":"FOX
        News - Lifestyle","image":"https:\/\/static.foxnews.com\/foxnews.com\/content\/uploads\/2021\/10\/SELF.jpg","category":"entertainment","language":"en","country":"us","published_at":"2022-01-10T12:17:03+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:46:28 GMT
recorded_with: VCR 6.1.0
