---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&limit=1&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.058'
      - '0.082'
      X-Apilayer-Transaction-Id:
      - 2d38ee0d-4e65-40e6-b6c0-bb8f516436e0
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '484'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":173},"data":[{"author":null,"title":"National
        Urban League urges Twitter to reject Elon Musk\u0027s bid over civil rights
        concerns","description":"Musk hopes to transform Twitter with few free speech
        restrictions, a move that could threaten civil rights, the National Urban
        League said.","url":"https:\/\/www.cnbc.com\/2022\/04\/19\/national-urban-league-urges-twitter-to-reject-musk-bid.html","source":"CNBC","image":null,"category":"general","language":"en","country":"us","published_at":"2022-04-19T17:09:24+00:00"}]}'
  recorded_at: Tue, 19 Apr 2022 19:47:12 GMT
recorded_with: VCR 6.1.0
