---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=elon%20musk&languages=en&limit=1&sort=published_desc&sources=nil
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.047'
      - '0.070'
      X-Apilayer-Transaction-Id:
      - dcdf7e79-337f-4e42-b26d-8b8ebd8a07e2
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '139'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":0,"total":0},"data":[]}'
  recorded_at: Fri, 22 Apr 2022 02:12:11 GMT
recorded_with: VCR 6.1.0
