---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&limit=1&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.069'
      - '0.101'
      X-Apilayer-Transaction-Id:
      - 0cdc23c1-e330-4d7f-9d36-b8cc64803382
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '221'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":117},"data":[{"author":null,"title":"Elon
        Musk \u2018funding secured\u2019 tweets ruled false new court filing suggests","description":"A
        court filing out Friday suggests a judge ruled that CEO Elon Musk knowingly
        made false statements when he tweeted about a take-private deal for Tesla
        in 2018.","url":"https:\/\/www.cnbc.com\/2022\/04\/16\/elon-musk-funding-secured-tweets-ruled-false-new-court-filing-suggests.html","source":"Cnbc
        | World Business News Leader","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-16T21:47:00+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:42:56 GMT
recorded_with: VCR 6.1.0
