---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.076'
      - '0.097'
      X-Apilayer-Transaction-Id:
      - c37e7bf2-22c3-4400-bc56-21fea2e8590f
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '316'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":25,"offset":0,"count":25,"total":116},"data":[{"author":"Sergei
        Klebnikov, Forbes Staff","title":"Twitter Board Adopts Poison Pill To Fend
        Off Elon Musk\u2019s Takeover Bid","description":"The move comes a day after
        Musk\u2019s unsolicited $43 billion offer to buy the company.","url":"https:\/\/www.forbes.com\/sites\/sergeiklebnikov\/2022\/04\/15\/twitter-board-adopts-poison-pill-to-fend-off-elon-musks-takeover-bid\/","source":"Forbes","image":"https:\/\/thumbor.forbes.com\/thumbor\/fit-in\/0x0\/filters%3Aformat%28jpg%29\/https:\/\/specials-images.forbesimg.com\/imageserve\/6259a5c252ce3b9e1bc1628b\/0x0.jpg?cropX1=0\u0026cropX2=2224\u0026cropY1=91\u0026cropY2=1342","category":"general","language":"en","country":"us","published_at":"2022-04-15T17:06:35+00:00"},{"author":"Timothy
        L. O\u0027Brien","title":"Elon Musk Is Not\u00a0What Twitter Needs\u00a0Right
        Now","description":"Elon Musk Is Not\u00a0What Twitter Needs\u00a0Right Now","url":"https:\/\/www.bloombergquint.com\/gadfly\/elon-musk-is-not-what-twitter-needs-right-now","source":"Bloomberg
        | Latest And Live Business","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-15T08:48:22+00:00"},{"author":"Sarah
  [...]
