---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&limit=2&sort=published_desc&sources=bloomberg,cnbc,forbes,npr-national-public-radio,reuters
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.126'
      - '0.158'
      X-Apilayer-Transaction-Id:
      - dacd65a8-36bb-40b9-a9c2-0842a1f0442a
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '238'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":2,"offset":0,"count":2,"total":117},"data":[{"author":null,"title":"Elon
        Musk \u2018funding secured\u2019 tweets ruled false new court filing suggests","description":"A
        court filing out Friday suggests a judge ruled that CEO Elon Musk knowingly
        made false statements when he tweeted about a take-private deal for Tesla
        in 2018.","url":"https:\/\/www.cnbc.com\/2022\/04\/16\/elon-musk-funding-secured-tweets-ruled-false-new-court-filing-suggests.html","source":"Cnbc
        | World Business News Leader","image":null,"category":"business","language":"en","country":"us","published_at":"2022-04-16T21:47:00+00:00"},{"author":"Sergei
        Klebnikov, Forbes Staff","title":"Twitter Board Adopts Poison Pill To Fend
        Off Elon Musk\u2019s Takeover Bid","description":"The move comes a day after
        Musk\u2019s unsolicited $43 billion offer to buy the company.","url":"https:\/\/www.forbes.com\/sites\/sergeiklebnikov\/2022\/04\/15\/twitter-board-adopts-poison-pill-to-fend-off-elon-musks-takeover-bid\/","source":"Forbes","image":"https:\/\/thumbor.forbes.com\/thumbor\/fit-in\/0x0\/filters%3Aformat%28jpg%29\/https:\/\/specials-images.forbesimg.com\/imageserve\/6259a5c252ce3b9e1bc1628b\/0x0.jpg?cropX1=0\u0026cropX2=2224\u0026cropY1=91\u0026cropY2=1342","category":"general","language":"en","country":"us","published_at":"2022-04-15T17:06:35+00:00"}]}'
  recorded_at: Sun, 17 Apr 2022 17:25:03 GMT
recorded_with: VCR 6.1.0
