---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&limit=1&sort=published_desc&sources=abc-news,cnn,guardian,nytimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.058'
      - '0.126'
      X-Apilayer-Transaction-Id:
      - 1b036d50-525a-45f7-b5f7-159b94dc112c
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '351'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":67},"data":[{"author":null,"title":"Tesla
        shareholders try to get Elon Musk to just stop","description":"Elon Musk wants
        everyone to believe he really did have the money secured to take Tesla private
        back in 2018. But a group suing him over that claim say he didn\u0027t have
        it, and that the SEC and a federal judge agree.","url":"https:\/\/www.cnn.com\/2022\/04\/19\/business\/elon-musk-judge-tweets\/index.html","source":"CNN","image":"https:\/\/cdn.cnn.com\/cnnnext\/dam\/assets\/220417134850-elon-musk-judge-tweets-false-super-169.jpg","category":"general","language":"en","country":"us","published_at":"2022-04-20T02:00:57+00:00"}]}'
  recorded_at: Wed, 20 Apr 2022 20:22:26 GMT
recorded_with: VCR 6.1.0
