---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&limit=1&sort=published_desc&sources=abc-news,cnn,guardian,nytimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.062'
      - '0.090'
      X-Apilayer-Transaction-Id:
      - 054f4cd2-8109-4125-bebe-407ed3149db3
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '482'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":1,"offset":0,"count":1,"total":65},"data":[{"author":null,"title":"Shareholders
        await Musk\u0027s next move in Twitter takeover bid","description":"Twitter
        has dropped a major roadblock in front of Elon Musk\u0026rsquo;s effort to
        take over the company, leaving investors to wonder about the mercurial Tesla
        CEO\u0026rsquo;s next move","url":"https:\/\/abcnews.go.com\/Technology\/wireStory\/shareholders-await-musks-move-twitter-takeover-bid-84154620","source":"ABC
        News","image":"https:\/\/s.abcnews.com\/images\/Technology\/WireAP_be9ad0760e034d2ba15f9a0b995769bc_4x3_384.jpg","category":"general","language":"en","country":"us","published_at":"2022-04-19T05:08:25+00:00"}]}'
  recorded_at: Tue, 19 Apr 2022 19:54:27 GMT
recorded_with: VCR 6.1.0
