---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&keywords=brooklyn&languages=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.055'
      - '0.091'
      X-Apilayer-Transaction-Id:
      - 8648de2b-b3a7-4b29-b4b7-0538876fcafe
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '456'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":25,"offset":0,"count":25,"total":3806},"data":[{"author":"","title":"Brooklyn
        Beckham announces new TV show Cookin\u2019 with Brooklyn","description":"Brooklyn
        Beckham has announced he\u2019s launching his very own cooking show, Cookin\u2019
        With Brooklyn.","url":"https:\/\/www.independent.co.uk\/tv\/culture\/brooklyn-beckham-cooking-tv-show-b2012036.html","source":"Independent","image":"https:\/\/static.independent.co.uk\/2022\/02\/10\/10\/Screenshot%202022-02-10%20at%2010.58.47.JPG?width=1024\u0026auto=webp","category":"general","language":"en","country":"gb","published_at":"2022-02-10T11:00:41+00:00"},{"author":"Paul
        Mirengoff","title":"Meritocracy at Brooklyn Tech","description":"(Paul Mirengoff)
        The virtues of a meritocracy may be lost on Harvard students like that \u0026#8220;queer
        Middle Easterner,\u0026#8221; but they come through clearly in this excellent
        New York Times article by Michael Powell. His piece deals with the subject
        through the lens of Brooklyn Tech, an elite New York City high school from
        which one of my cousins graduated in the 1960s. Brooklyn Tech hasn\u0026#8217;t
        yielded to demands that it stop admitting","url":"https:\/\/www.powerlineblog.com\/archives\/2022\/01\/meritocracy-at-brooklyn-tech.php","source":"powerlineblog","image":"https:\/\/www.powerlineblog.com\/ed-assets\/2022\/01\/brooklyn-tech.jpg","category":"general","language":"en","country":"us","published_at":"2022-01-30T02:19:47+00:00"},{"author":"artappraiser","title":"In
        pictures: Brooklyn subway","description":"In reply to Multiple people shot
        in NewIn pictures: Brooklyn subway shooting @ CNN.com, some great photo journalism
        there (all on one page, not a slideshow)I would just like to say one thing
        about people who don\u0027t like cops that look like this and want to see
        them abolished -Caption:\u00a0Police and emergency responders gather outside
        the 36th Street subway station in Brooklyn, New York, on Tuesday, April 12.\u00a0Spen[...]
