---
http_interactions:
- request:
    method: get
    uri: http://api.mediastack.com/v1/news?access_key=<mediastack_key>&countries=us&keywords=Elon&languages=en&sort=published_desc&sources=foxnews,breitbart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Request-Time:
      - '0.073'
      - '0.101'
      X-Apilayer-Transaction-Id:
      - aec36038-ccc0-41cd-bf09-18459f2a257d
      X-Quota-Limit:
      - '500'
      X-Quota-Remaining:
      - '315'
      X-Increment-Usage:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"limit":25,"offset":0,"count":2,"total":2},"data":[{"author":"Gary
        Gastelu","title":"Tesla raising \u0026apos;Full Self-Driving\u0026apos; price
        to $12,000","description":"Tesla is increasing the price of its Full Self-Driving
        feature to $12,000 on January 17, Elon Musk has announced. The system remains
        in development in beta.","url":"https:\/\/www.foxnews.com\/auto\/tesla-raising-full-self-driving-price-12000","source":"FOX
        News - Lifestyle","image":"https:\/\/static.foxnews.com\/foxnews.com\/content\/uploads\/2021\/10\/SELF.jpg","category":"entertainment","language":"en","country":"us","published_at":"2022-01-10T12:17:03+00:00"},{"author":"Dom
        Calicchio","title":"California state Dem Lorena Gonzalez \u2013 known for
        F-bombs against Trump, Musk -- is stepping down","description":"Lorena Gonzalez,
        a far-left California state lawmaker known for profane criticism directed
        at former President Donald Trump and billionaire entrepreneur Elon Musk, is
        resigning from her state Assembly seat.","url":"https:\/\/www.foxnews.com\/politics\/california-democrat-lorena-gonzalez-f-bombs-trump-musk","source":"FOX
        News - Politics","image":"https:\/\/static.foxnews.com\/foxnews.com\/content\/uploads\/2020\/02\/Lorena-Gonzalez.jpg","category":"politics","language":"en","country":"us","published_at":"2022-01-05T06:13:30+00:00"}]}'
  recorded_at: Sat, 16 Apr 2022 18:23:35 GMT
recorded_with: VCR 6.1.0
