---
http_interactions:
- request:
    method: post
    uri: https://tldrthis.p.rapidapi.com/v1/model/abstractive/summarize-url/
    body:
      encoding: UTF-8
      string: |-
        {
                                  "url": "https://techcrunch.com/2019/08/12/verizon-is-selling-tumblr-to-wordpress-parent-automattic/",
                                  "min_length": 100,
                                  "max_length": 300,
                                  "is_detailed": false
                                  }
    headers:
      X-Rapidapi-Host:
      - tldrthis.p.rapidapi.com
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Proxy-Response:
      - 'true'
      X-Rapidapi-Region:
      - AWS - us-east-1
      X-Rapidapi-Version:
      - 1.2.8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid API key. Go to https:\/\/docs.rapidapi.com\/docs\/keys
        for more info."}'
  recorded_at: Fri, 15 Apr 2022 00:27:26 GMT
recorded_with: VCR 6.1.0
